<h1>Update Pet</h1>
<form method="POST" action="/pets/<%= @pet.id %>">
<input type="hidden" id="hidden" name="_method" value="PATCH">
<h3>Update Name: <textarea type="text" id="pet_name" name="pet[name]"><%= @pet.name%> </textarea></h3>

<br>
    <p>Select an existing pet or create a new one below.</p>
    <p>Select only one</p>
    <% @owners.each do |owner|%>
    <input type="radio" name="owner[id]" id="<%= owner.id %>" value="<%= owner.id %>" <%= 'checked' if @pet.owner == owner %>><br><%= owner.name%></input><br>
    <%end%>

    <br>
    <h3>OR New Owner</h3>
    <label>Owner Name: </label>
    <br>
    <input type="radio" name="owner[name]"><input type="text" name="owner[name]" id="owner_name"></input>
    <br>
    <br>

    <input type="submit" value="Update Pet">
</form>

